.container {
    display: grid;
    grid-template-rows: 20% 80%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-image: url("images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.loaded {
    opacity: 1;
}

nav {
    display: flex;
    justify-content: space-between;

}

.iconHolder,
.homeIcon,
.helpIcon {
    display: flex;
    align-items: center;
    margin: 5px;
}

#logo {
    width: 120px;
    height: auto;
    margin: 5px;
    transition: transform 0.5s ease-in-out;
}

#logo:hover {
    transform: rotate(360deg) scale(1.1);

}

.icon {
    width: 30px;
    height: auto;
    margin: 2px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.textHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tipeSchool {
    font-size: 15mm;
    margin: 0;
}

.nameSchool {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30mm;
    margin: 0;
}

.btnHolder {
    display: inline-block;
    text-align: center;
}

.btn {
    margin: 20px;
    background-color: #D4E2D4;
    border-radius: 10px;
    border: none;
    height: auto;
    width: auto;
    font-weight: bold;
    padding: 15px 30px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px #bb175bc2;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
}

.btn:hover {
    background-color: #F8DBDC;
    border: 1px solid #e981ad;
    transform: scale(1.1);

}

a {
    text-decoration: none;
    color: inherit;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s, font-size 0.3s;
}

.link:hover {
    color: #fa0780;
    font-size: 24px;
}




@media (max-width: 430px) {

    .tipeSchool {
        font-size: 10mm;
        margin-bottom: 40px;


    }

    .nameSchool {
        font-family: "Parisienne", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 24mm;

    }
}